#navigation {
    background-color: #8d99ae !important;
    height: 6em !important;
}

body {
    background-color: #2b2d42 !important;
}
.nav-logo {
    width: 6.5em !important;
    height: 5em !important;
    background-image: url('../images/logo1.png') !important;
    background-size: cover !important;
    
}

#containerwidth {
    width: 15em !important;
}

#landing-image {
    background-image: url('../images/heroimage.png');
    width: 10em;
    height: 10em;

}

#landing {
    padding-top: 15em !important;
}

@media (max-width: 480px) {
    #landing {
        padding-left: 2em !important;
    }
}
@media (max-width: 320px) {
    #landing {
        padding-left: 2em !important;
    }
}