/* Navigation */

#navigation {
    background-color: #8d99ae !important;
    height: 6em !important;
}

/* Body bg-color */

body {
    background-color: #2b2d42 !important;
}

/* navigation logo */

.nav-logo {
    width: 6.5em !important;
    height: 5em !important;
    background-image: url('../images/logo1.png') !important;
    background-size: cover !important;
}

/* Hero image logo */

#hero-image {
    margin-top: -5em !important;
    margin-bottom: -22em !important;
    margin-left: 13em !important;
}

#containerwidth {
    width: 15em !important;
}

#landing-image {
    width: 10em;
    height: 10em;
}

#landing {
    padding-top: 15.5em !important;
    max-height: auto !important;
    height: auto !important;
}

/* Media queries with all its fixes for the site */

@media (min-width: 670px) and (max-width: 1100px) {
    #landing-text {
        margin-left: 1em !important;
    }
    #hero-image {
        display: block !important;
    }
}

@media (max-width: 320px) {
    #landing {
        padding-left: 2em !important;
    }
    #landing-text {
        margin-left: -0.2em !important;
    }
    #hero-image {
        display: none !important;
    }
}

@media (max-width: 480px) {
    #landing {
        padding-left: 2em !important;
    }
    #hero-image {
        display: none !important;
    }
}

@media (min-width: 481px) {
    #hero-image {
        display: none !important;
    }
}

@media (min-width: 482px) and (max-width: 550px) {
    #landing-text {
        margin-left: 2em !important;
    }
    #hero-image {
        display: unset !important;
    }
}



